<%= render partial: "shared/header" %>

<div class="window">
  <div class="side-contents">
    <%= render 'shared/sidebar'%>
  </div>
  <div class="main-contents">
    <div class="article-space">
      <div class="article-block">
        <div class="article-title">
          <%= @article.title %>
          <% if current_user.id == @article.user.id %>
            <%= link_to '記事を編集する', edit_article_path(@article.id) %>
            <%= link_to '記事を削除する', '#' %>
          <% end %>
        </div>
        <div class="article-text">
          <%= simple_format(@article.text) %>
        </div>
      </div>
    </div>
    <div class="comment-space">
      <div class="comment-box"></div>
        <%= form_with model:[@article,@comment], class:"comment-form", local: true  do |f| %>
          <%= f.text_area :text, class:"c-textarea" %>
          <%= f.submit '記事にコメントする', class:"c-submit-btn" %>
        <% end %>
     <!--ここはあとでReactの記述に書き換える-->
    </div>
  </div>
</div>
