
<header class="application-header">
  <div class="header-left-contents">
    <%= link_to 'Logic-space-proto', root_path, class: "home-logo" %>
  </div>
  <div class="header-right-contents">
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, class: "header-link-btn" %>
      <%= link_to '新規記事投稿', new_article_path, class: "header-link-btn" %>
    <% else %>
      <%= link_to_unless_current 'ログイン', new_user_session_path, class: "header-link-btn" %>
      <%= link_to_unless_current '新規登録' , new_user_registration_path, class: "header-link-btn" %>
    <% end %>
  </div>
</header>