
  <% articles.each do |article| %>
    <div class="summary-box">
      <%= link_to article_path(article.id), class: "summary-link"  do%>
        <div class="summary-header">
          <div class="summary-username">
            <%= "投稿者： #{article.user.name}" %>
          </div>
          <div class="summary-created">
            <%= "投稿時刻： #{article.created_at}" %>
          </div>
          <div class="summary-updated">
            <%= "最終更新時刻： #{article.updated_at}" %>
          </div>
        </div>
        <div class="summary-tags">example: #Javascript</div>
        <div class="summary-title">
          <%= article.title %>
        </div>
        <div class="summary-article">
          <div class="summary-header">概要</div>
          <div class="summary-text">
            <%= simple_format(article.summary) %>
          </div>
        </div>
      <%end%>
    </div>
  <% end %>
